
.receptaculo {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 80%;
    min-width: 450px;
    /* mudar cor de volta para branco*/
    background-color:rgb(255, 255, 255);
}
.receptaculo .cabecalho{
    font-size: 24px;
    color: rgb(12, 95, 122);
    background-color: rgb(193, 239, 247);
    display: block;
    padding:10px;
}
.receptaculo .cabecalho .headertext{
    display: inline-flex;
    min-width: 150px;
    font-size: 1em;
    font-stretch: extra-condensed;    
}
.receptaculo .cabecalho .headertext.s{
    position: relative;
    left: 20px;
}

/*   */

.receptaculo .corpo {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    overflow: hidden;
}
.receptaculo .corpo .referencia{
    
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
.receptaculo .corpo .texto{
    color: rgb(0, 0, 0);
    text-align: left;
    overflow: hidden;
    line-height: 13px;
    word-break: normal;
    width: 100%;
    padding: 0;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: normal;
}
.receptaculo .corpo .texto.desc{
    height: 39px;
}
.receptaculo .corpo .texto.antigo{
    font-size: 10px;
}
.receptaculo .corpo .texto.preco{
    color: red;
    font-size: 18px;
    line-height: 18px;
}
.receptaculo .corpo .texto.parcelado{
    font-size: 10px;
    color: red;
}


.receptaculo .corpo .recomendacoes{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}

.receptaculo .corpo .item{
    width: 150px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 3%;
}
.receptaculo .corpo .ul{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .receptaculo .corpo .ul .div{
    display: inline-block;
    list-style: none;
  }
  
  button.prev, button.next{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgba(0, 0, 255, 0.4);
    background-color: rgba(198, 197, 218, 0.849);
    border-radius: 30%;
    width: 44px;
    height: 44px;
    position: relative;
    top: 110px;
  }
